backend = "redis"
#client_cert = "/etc/confd/ssl/client.crt"
#client_key = "/etc/confd/ssl/client.key"
confdir = "/etc/confd"
debug = true
interval = 5
nodes = [
  "127.0.0.1:{{redis_port}}",
]
noop = false
prefix = "/"
quiet = false
#scheme = "https"
#srv_domain = "etcd.example.com"
verbose = true
watch = false
